* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  h1 {
    text-align: center;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5,
  .section6 {
    padding: 5rem;
    display: flex;
    align-items: center;

    h2 {
      width: 15em;
      align-self: flex-start;
    }

    .inhalt-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .box {
        padding: 1em;
        border: 3px solid rgb(135, 130, 130);
        h4 {
          text-align: center;
          padding-bottom: 1rem;
        }
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .section5 {
    .inhalt-container {
      flex-direction: column;
      align-items: center;
      .box-container {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
