* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  h1 {
    text-align: center;
  }

  .section1,
  .section2,
  .section3 {
    padding: 5rem;
    display: flex;
    align-items: center;

    h2 {
      width: 15em;
    }

    .inhalt-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .box {
        padding: 1em;
        border: 3px solid rgb(135, 130, 130);
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
